@model HOT1.Models.OrderForm
@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Index</title>
</head>
<body>
  <main class="container">
    <h1>Crazy Crank's T-Shirt Factory</h1>
    <p>Order Form</p>
    @using (Html.BeginForm())
    {
      <div class="form-group mb-2">
        <label for="Quantity">Quantity</label>
        @Html.TextBoxFor(x => x.Quantity, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Quantity, null, htmlAttributes: new { @class = "text-danger" })
      </div>
      <div class="form-group mb-2">
        <label for="DiscountCode">Discount Code</label>
        @Html.TextBoxFor(x => x.DiscountCode, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.DiscountCode, null, htmlAttributes: new { @class = "text-danger" })
      </div>

      if (Model != null)
      {
       <div>@Model.DiscountMessage </div>
      }

      <div class="form-group mb-2">
        <button type="submit" class="btn btn-primary">Order</button>
      </div>

      if (Model != null && Model.Quantity != null)
      {
        <div style="padding: 15px; border: solid 1px black; font-size: 15pt">
          <p>@($"{Model.Quantity}") T-Shirts@($" @{Model.PricePerShirt:C}") each</p>
          <p>-------------------------------</p>
          <p>Subtotal @($"{Model.Subtotal:C}")</p>
          <p>Tax @($"{Model.Tax:C}")</p>
          <p>Total @($"{Model.Total:C}")</p>
        </div>
      }
    }
  </main>
</body>
</html>
