<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title - My ASP.NET Application</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
  <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="~/Content/main.css" />

</head>
<body class="d-flex flex-column min-vh-100">
  <nav class="navbar navbar-dark bg-dark" role="navigation">
    <a class="navbar-brand" href="#">
      <i class="d-none d-md-inline far fa-futbol"></i>
      <span class="d-block d-md-inline"> SPORTS</span>
      <span class="d-block d-md-inline">STORE</span>
    </a>
    @Html.ActionLink("Products", "List", "Product", null, new { @class = "btn btn-secondary m-1" })
    @Html.ActionLink("Contact", "Index", "Contact", null, new { @class = "btn btn-secondary m-1" })
    <span class="flex-grow-1"></span>
    @Html.Action("Summary", "Cart")

  </nav>
  <nav>@Html.Action("Menu", "Nav")</nav>
  <main class="container p-2 flex-grow-1">
    @if (TempData["message"] != null)
    {
      <div class="alert alert-success m-3">@TempData["message"]</div>
    }
    @RenderBody()
  </main>
  <footer class="bg-dark text-white text-center">
    &copy; Scott Nortin 2019
  </footer>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
          integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
          crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/0f0c0162b2.js"></script>

  <script src="~/Scripts/jquery.validate.min.js"></script>
  <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
  <script src="~/Scripts/main.js"></script>
  @RenderSection("Scripts", required: false)

</body>
</html>