<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title - Resume Constructor </title>
  <link href="~/Content/Themes/sandstone.bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="~/Content/main.css" rel="stylesheet" type="text/css" />
  @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="~/Scripts/modernizr-2.8.3.js"></script>*@
</head>
<body class="d-flex flex-column min-vh-100" style="padding-top: 9rem;">
  <nav class="navbar navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="@Url.Action("Index", "Resume")">
      <i class="fas fa-pencil-alt"></i>
      Resume Constructor
    </a>

    <a class="btn btn-outline-light" href="@Url.Action("Create", "Resume")">
      <i class="fa-fw fas fa-pencil-alt"></i>
      Create Resume
    </a>
  </nav>

  <div class="container flex-grow-1">
    @if (TempData["message"] != null)
    {
      <div class="alert alert-info">@TempData["message"]</div>
    }
    @RenderBody()
  </div>

  <footer class="bg-dark text-light text-center p-3">
    &copy; @DateTime.Now.Year Ranken Technical College
  </footer>

  <script src="~/Scripts/jquery-3.4.1.min.js"></script>
  <script src="~/Scripts/jquery.validate.min.js"></script>
  <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
  <script src="~/Scripts/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/054ec314b5.js" crossorigin="anonymous"></script>
  <script src="~/Scripts/main.js"></script>
  @*<script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/054ec314b5.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/main.js" crossorigin="anonymous"></script>*@
  @RenderSection("Scripts", required: false)
</body>
</html>