@model SportsStore.Models.CartIndexViewModel
@{
  ViewBag.Title = "Sports Store: Your Cart";
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Index</title>
</head>
<body>
  <main class="container">

    <h2 class="border-bottom border-dark">Your cart</h2>
    <div class="row p-2">
      @foreach (var line in Model.Cart.Lines)
      {
        <div class="w-100">
          <div class="border-bottom border-dark w-100 pb-2">
            <div class="col-12 font-weight-bold">@line.Quantity x @line.Product.Name</div>
            <div class="col-12">@line.Product.Price.ToString("c") each</div>
            <div class="col-12">
              @using (Html.BeginForm("RemoveFromCart", "Cart"))
              {
                @Html.Hidden("ProductId", line.Product.ProductID)
                @Html.HiddenFor(x => x.ReturnUrl)
                <button class="btn btn-sm btn-warning" type="submit">Remove</button>
              }
            </div>
          </div>
        </div>
      }
    </div>
    <div>
      <div class="text-center">
        <a class="btn btn-primary m-2" href="@Model.ReturnUrl"><i class="fas fa-arrow-left"></i> Continue Shopping </a>
        <a class="btn btn-primary m-2" href="@Url.Action("Checkout","Cart")"> Checkout <i class="fa-fw far fa-credit-card"></i></a>
      </div>
    </div>
  </main>
</body>
</html>
