@model Experiment.Models.TempInput

      <h1 class="text-center"> Convert some Temps</h1>
      @using (Html.BeginForm())
      {
        <p>Fahrenheit:  @Html.TextBoxFor(x => x.Fahrenheit, htmlAttributes: new { @class = "form-control" })</p>

        <div>@Html.ValidationMessageFor(x => x.Fahrenheit)</div>

        <p><input type="submit" name="" value="Convert" /></p>
      }

    <h1>Results</h1>

    <p>Degrees Fahrenheit: @($"{ViewBag.Usertemp:0.00}")</p>
    <p>Degrees Celsius: @($"{ViewBag.celTemp:0.00}")</p>
    <p>Degrees Kelvin: @($"{ ViewBag.kelTemp:0.00}")</p>
    @Html.ValidationMessageFor(x => x.Fahrenheit)

