<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title</title>
  <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="~/Content/main.css" rel="stylesheet" type="text/css" />
</head>
<body>

  <nav class="navbar navbar-dark bg-dark fixed-top p-2">
    <a class="navbar-brand" href="@Url.Action("Index", "Blog")">
      <i class="fa-fw fas fa-rss"></i>
      My Personal Blog
    </a>
    
    <a class="btn btn-outline-light" href="@Url.Action("CreatePost", "Blog")">
      <i class="fa-fw fas fa-pencil-alt"></i>
      Create Post
    </a>
  </nav>

  @if (TempData["message"] != null)
  {
    <div class="alert alert-primary m-3">@TempData["message"]</div>
  }
  <main class="container">
    @RenderBody()
  </main>

  <script src="~/Scripts/jquery-3.4.1.js"></script>
  <script src="~/Scripts/jquery.validate.js"></script>
  <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
  <script src="~/Scripts/main.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/054ec314b5.js" crossorigin="anonymous"></script>
</body>
</html>