@model SportsStore.Models.Photo

@{
  ViewBag.Title = "Admin: Upload Photo";
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="bg-light p-3">
  <h2>Upload</h2>
</div>

@*enctype = "multipart/form-data"*@

@using (Html.BeginForm("Upload","Photo",FormMethod.Post,new { enctype = "multipart/form-data"}))
{
  @Html.ValidationSummary()
  @Html.HiddenFor(x => x.PhotoId)

  <div class="form-group">
    @Html.LabelFor(x => x.ImageName)
    @Html.TextBoxFor(x => x.ImageName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ImageName, null, new { @class = "text-danger" })
  </div>
  <div class="form-group">
    <label for="image">Image</label>
    <input type="file" name="image" id="image" />
    @Html.ValidationMessageFor(x => x.ImageData, null, new { @class = "text-dangers" })
    @Html.ValidationMessageFor(x => x.ImageMimeType, null, new { @class = "text-danger" })


  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success">Upload</button>
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary" })
  </div>
}

