@model IEnumerable<WorkOrders.Models.Order>

@{
  ViewBag.Title = "Louie's Auto Repair";
}

  <div class="row">
    <div class="card col-md-4 bg-light mb-3">
      Search For Order
      @using (Html.BeginForm("Index", "Order", FormMethod.Get))
      {

      }
    </div>
    <div class="col-md-8">
      @foreach (var order in Model)
      {
        <div class="card bg-light mb-3">
          <div class="card-body">
            <div class="float-right">@order.RepairDate</div>
            <p>
              Order # @order.OrderId
            </p>
            <p>
              @order.Customer.ClientName
            </p>
            <p>
              @order.VehicleYear
              @order.VehicleMake
              @order.VehicleModel
            </p>
            <p>
              @Html.ActionLink("View Order", "View", "Order", new { OrderId = order.OrderId }, null)
            </p>
          </div>
        </div>
      }

    </div>
  </div>





