@model PartyInvites.Models.GuestResponse
@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>RsvpForm</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="~/Content/css/main.css">
</head>
<body>
  <main class="container">
    @using (Html.BeginForm(
      "RsvpForm",
      "Home",
      FormMethod.Post,
      htmlAttributes: new { @class = "form" }))
    {
      <p>Your name: @Html.TextBoxFor(x => x.Name, htmlAttributes: new { @class = "form-control", autocomplete = "name" })</p>
      <div class="text-danger">@Html.ValidationMessageFor(x => x.Name)</div>

      <p>Your email: @Html.TextBoxFor(x => x.Email, htmlAttributes: new { @class = "form-control", autocomplete = "email" })</p>
      <div class="text-danger">@Html.ValidationMessageFor(x => x.Email)</div>

      <p>Your phone: @Html.TextBoxFor(x => x.Phone, htmlAttributes: new { @class = "form-control", autocomplete = "tel" })</p>
      <div class="text-danger">@Html.ValidationMessageFor(x => x.Phone)</div>
      <p>
        Will you attend?
        @Html.DropDownListFor(x => x.WillAttend, new[] {
          new SelectListItem { Text = "Yes, I'll be there", Value = bool.TrueString },
          new SelectListItem { Text = "No, I can't come", Value = bool.FalseString }
        }, "Choose an option",
        htmlAttributes: new { @class = "form-control" })
      </p>
      <div class="text-danger">@Html.ValidationMessageFor(x => x.WillAttend)</div>

      <input type="submit" value="Submit RSVP" class="btn btn-success btn-lg" />

      @Html.ValidationSummary(false, null, new { @class = "text-danger" })
    }
  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
